@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    background-color: rgb(0, 0, 0);
}

*{
    margin:0;
    padding:0;
    font-family:sans-serif;
}
body {
    overflow:hidden;
    
}
html, body {
max-width: 100%;
overflow-x: hidden;
}

body {
    background-color: black;
}

.break {
    flex-basis: 100%;
    height: 5;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #8D1D25;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    cursor: pointer;
    transition: all 0.3 ease 0s;
    color: rgb(255, 255, 255);
}

.buynow {
    background-color: #8D1D25;
    border: none;
    color: white;
    width: 300px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.fa-search {
    background-color: #8D1D25;
    color: white;
    font-family: sans-serif;
    font-weight: regular;
    font-size: 0.7em;
    padding:0;
    height: 36px;
}

header {
    padding-left: 20px;
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    background-color: rgb(255, 255, 255);
}

form {
    display: flex;
    background-color: rgb(255, 255, 255);
    /* position: absolute; */
    margin-top: 10px;
    column-gap: 0px;
    margin-right: 0%;
    flex-wrap: wrap;
}

.search {
    border-width: 1px;
    background-color: rgb(255, 255, 255);
    width: 125px;
    margin: 0%;
    height: 36px;
    display: flex;
}

button {
    margin: 0%;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.fa-search:hover {
    background-color: #8D1D25;
    color: white;
}

.navbar5 {
    display: flex;
    background-color: rgb(255, 255, 255);
    /* position: absolute; */
    margin-top: 10px;
    column-gap: 0px;
    margin-right: 0%;
    flex-wrap: wrap;
}

.nav_links {
    display: flex;
    list-style: none;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 0px;
    flex-basis: 85%;
}

.nav_form {
    margin: 0px;
}

.nav_btn {
    display: flex;
    list-style: none;
    color: #8D1D25;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    border-color: white;
    text-align: left;
    height: auto;
    padding-top: 18px;
}

.nav_btn:hover {
    background-color: #8D1D25;
    color: white;
}

button:hover {
    background-color: #812973;
}

.cta {
    background-color: rgb(255, 255, 255);
}

.imageholder {
    /* border-style: solid;
    border-radius: 2px;
    border-color: rgb(233, 65, 65); */
    height: auto;
    margin-top: 60px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.previmg {
    height: auto;
    align-items: center;
    flex-basis: 3%;
    justify-content: center;
    background-color: #707070;
}

.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-top: 290px;
    margin-left: 20px;
    background-color: #707070;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-right: 10px;
}

.imgdetails {
    height: auto;
    flex-basis: 95%;
    display: flex;
    flex-shrink: 3;
    background-color: #707070;
}

.imgdetails1 {
    background-color: #707070;
    /* display: flex; */
    flex-basis: 60%;
}

.imgdetailsname {
    background-color: #707070;
    /* display: flex; */
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 55px;
    margin-top: 50px;
    padding-left: 70px;
    font-weight: bold;
}

.imgdetailsdescription {
    background-color: #707070;
    /* display: flex; */
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-top: 15px;
    padding-left: 70px;
    font-weight: bold;
}

.imgdetailsprice {
    background-color: #707070;
    /* display: flex; */
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin-top: 40px;
    padding-left: 70px;
    font-weight: bold;
}

.break1 {
    flex-basis: 100%;
    
    color: #8D1D25;
    background-color: #707070;
    font-size: 70px;
    padding-left: 140px;
}

.prc {
    color: #8D1D25;
    background-color: #707070;

}

.imgdetailsbuynow {
    background-color: #707070;
    /* display: flex; */
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin-top: 20px;
    padding-left: 70px;
    font-weight: bold;
}

.nextimg {
    height: auto;
    align-items: center;
    flex-basis: 3%;
    background-color: #707070;
}

.category {
    display: flex;
    flex-basis: 100%;
    text-align: left;
    padding-left: 5%;
    color: white;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 2%;
}

.category55 {
    display: flex;
    flex-basis: 100%;
    text-align: left;
    padding-left: 5%;
    color: grey;
    font-size: 20px;
    margin-top: 30px;
}

.header1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    margin-top: 10px;
}

.categorylist {
    /* display: inline-block; */
    /* flex-grow: 1; */
    flex-basis: 10%;
    flex-grow: 1;
    border-width: 10px;
    border-color: rgb(255, 255, 255);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    /* margin: 0px; */
    font-size: 1.4rem;
}

.catnav {
    color: white;
    background-color: black;
    flex-basis: 100%;
    justify-content: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    display: flex;
}

.catnav_links {
    list-style-type: none;
    color: white;
    background-color: rgb(0, 0, 0);
    font-size: 0;
    flex-basis: 100%;
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    flex-wrap: wrap;
}

.catnav_links li a {
    transition: all 0.3 ease 0s;
    color: rgb(0, 0, 0);
    background: white;
}

.container5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    /* flex-direction: column; */
    row-gap: 10px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
}

.item {
    order: 5;
    padding-left: 3px;
    /* padding-right: 2.5px; */
    /* border-style: solid;
    border-width: 1px;
    color: white; */
    flex-basis: 18%;
    min-width: 300px;
    max-width: 17%;
    min-height: 290px;
    margin-right: 30px;
    text-align: center;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    /* font-family: "Montserrat", sans-serif; */
    color: white;
    flex-wrap: wrap;
    height: auto;
    margin-top: 30px;
}

.itemimage {
    height: 60%;
    /* max-height: 430px;
    max-width: 300px; */
    height: 290px;
    width: 100%;
    background-image: url("https://amymhaddad.s3.amazonaws.com/morocco-blue.png");
    /* border-radius: 0.2px;
    border-style: solid;
    border-color: rgb(255, 0, 0); */
}



.itemname {
    /* height: 24%; */
    /* border-radius: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255); */
    background-color: white;
    padding: 5px;
    font-size: 120%;
    text-align: left;
    

}

.itemname a {
    color: #8D1D25;
    font-weight: bold;
}

.itemname p {
    width: 100%;

}

.popular {
    display: flex;
    flex-basis: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    padding-left: 80px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
}

/* .nav-bar {
    display: flex;
    padding: 40px 7vw;
    text-align: right;
    align-items: center;
}

.nav-bar .fas {
    display: none;
}

.nav-logo img {
    width: 150px;
}

.nav-links {
    flex: 1;
    right: -200px;
}

.nav-links ul {
    margin-right: 50px;
    display: inline;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
}

.nav-links ul a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #8D1D25;
    display: block;
    margin: auto;
    transition: .25s;
}

.nav-links ul li:hover::after {
    width: 100%;
} */

.btn {
    padding: 10px 20px;
    font-weight: 100;
    border: 0;
    background: #8D1D25;
    color: white;
    border-radius: 16px;
    cursor: pointer;
}

.nav-links .btn {
    float: right;
}

.sortby {
    display: flex;
    color: white;
    flex-basis: 40%;
    margin-right: 20px;
}

.dropbtn {
    background-color: white;
    color: #8D1D25;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 4px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
}

.dropdown-content a:hover {
    background-color: pink
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: white;
}

.searchname {
    display: flex;
    color: white;
    flex-basis: 100%;
}

.noofitems {
    display: flex;
    color: grey;
    flex-basis: 100%;
}

.searchresults {
    flex-wrap: 1;
    font-size: 20px;
    flex-basis: 100%;
    margin-left: 6%;
}

.box {
    display: flex;
    /* border-style: solid;
    border-width: 1px;
    color: white; */
    /* margin-top: 30px; */
    /* margin-left: 5%;
    margin-right: 5%; */
    flex-direction: row;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.prodname {
    color: white;
    font-weight: bold;
    align-self: center;
    margin-top: 20px;
    font-size: 1.5em;
    margin-left: 5%;
}

.word {
    display: flex;
    color: white;
    text-align: left;
    margin-top: 10px;
    font-size: 20px;
}