body {
    background-color: rgb(248, 197, 197);
    ;
    /* background-repeat: no-repeat;
    background-image: url("https://i.pinimg.com/originals/e5/f5/3d/e5f53df1e75605a22bae02ba67351d7e.jpg");
    background-size: 1980px 1080px; */
}

.container5 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;
}

.static {
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: 600;
}

.item {
    /* display: flex; */
    max-width: 600px;
    min-width: 350px;
    background-color: #8D1D25;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.form5 {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
}

#example2 {
    border: 1px solid;
    padding: 10px;
    box-shadow: 10px 10px rgb(95, 95, 95);
}

.pairing {
    /* display: flex; */
    flex-direction: row;
    flex-basis: 48%;
    margin-bottom: 15px;
    margin-left: 10px;
}

.pairing555 {
    display: flex;
    flex-direction: row;
    flex-basis: 48%;
    margin-bottom: 15px;
    margin-left: 10px;
}

.pairing55 {
    /* display: flex; */
    flex-direction: row;
    flex-basis: 100%;
    margin-bottom: 15px;
}

.pairing1 {
    order: 1;
    flex-basis: 30%;
    color: white;
    font-size: 20px;
}

.pairing2 {
    order: 2;
    width: 100%;
}

textarea {
    width: 100%;
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
}

option {
    width: 100%;
    color: white;
}

input {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    border: none;
}

.break {
    flex-basis: 100%;
    height: 1;
}

.arrow-up {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 1000px solid transparent;
    border-right: 1000px solid transparent;
    border-bottom: 1000px solid black;
}

.triangle {
    width: 100%;
    height: auto;
    min-height: 100%;
    background: linear-gradient(to bottom right, rgb(248, 197, 197) 0%, rgb(248, 197, 197) 58%, rgb(173, 21, 21) 50%, red 100%);
    padding-top: 30px;
    padding-bottom: 30px;
}